<h1> Here is my answer to question 4</h1>
<body>
	<p align="left">My name is Julia Maimone, I am from Woodside, CA, and I am a Junior here at Cal. A fun fact about me is that I used to be on the Cal cheer team. I am most excited for the projects in this class!</p>
	<p align ="center">
	<%=image_tag 'pic.jpg' %>
</p>
</body>